<div class="col-xs-12">
    <div class="footer-top">
        <div class="col-md-3 footer-news" id="newsletter">
            <h5>Newsletter</h5>
        </div>
        <p class="newsletter-validated"><i class="fa fa-check"></i> Vous êtes inscrit à notre newsletter</p>
        <div class="clearfix"> </div>
    </div>
</div>